/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.7 $font-family-base;
}

h1, h2, h3 {
  font-family: $font-family-title;
  line-height: 1.3;
}

h2 {
  font-size: rem(40px);

  section > & {
    text-align: center;
  }
}

h3 {
  font-size: rem(15px);
}