


/// Regular font family
/// @type List
$font-family-base: 'Roboto', sans-serif;;
$font-family-title: 'Poppins', sans-serif;;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


$green: #A1C900;

$bg-color: #F4F5F5;


/// Container's maximum width
/// @type Length
$max-width: 1295px !default;
$screen-wide: 1295;


$transition: all .3s ease-in-out;


$icomoon-font-path: '../fonts/';


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  xs: 540px,
  sm: 768px,
  md: 992px,
  lg: $max-width,
) !default;


