.alza-prem-w-u-g {
  background: #F4F5F5;

  h2 {
    margin-bottom: rem(50px);
  }

  .btn {
    margin-top: rem(50px);
  }
}

$box-size: 256px;
$box-gap: 10px;
.alza-prem-w-u-g__boxes {

  .box {
    flex: 1 0 $box-size;
    max-width: $box-size;

    margin: $box-gap;
  }
}